*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(29, 29, 29);
}
.main-container
{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:35vw;
    max-width:600px;
    height:60vh;
    max-height:1000px;
    border:none;
    border-radius:30px;
    background-color:rgba(228, 138, 1,0.6);
    backdrop-filter:blur(5px);
    transition:all 0.3s ease;
}
.main-container:hover
{
    transform:scale(1.05);
    background-color:rgba(228, 138, 1,0.62);
}
.searchbox
{
    padding-left:6px;
    margin-top:50px;
    margin-bottom:35px;
    height:50px;
    width:40%;
    border-radius:8px;
    border:none;
    font:bold 15px consolas;
    color:rgb(99, 99, 100); 
}
.weather-card
{
    width:200px;
    height:150px;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:none;
    /*border:solid 3px black;*/
}
.icon
{
    height:100px;
    width:100px;
}
.temp
{
    font:bold 30px consolas;
    color:rgb(62, 62, 62);
    margin-top:-20px; 
}
.city,.condition
{
    font:bold 20px consolas;
    color:rgb(231, 231, 231);
    margin-top:0.3px;
}
.details
{
    margin-top:40px;
    display:none;
    flex-direction:row;
    justify-content:center;
    width:100%;
    gap:20px;
    /*border:solid 3px black;*/
}
.humidity,.wind,.feels-like
{
    font:bold 25px consolas;
    color:rgb(72, 72, 72); 
}

