body
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.main-container
{
    display:flex;
    flex-direction:column;
}
.input-container
{
    display:flex;
    flex-direction:row;
    gap:0.5px;
}
.display
{
    font:bold 30px sans-serif;
    color:rgb(24, 24, 24);
    text-align:right;
    height:50px;
    width:217px;
    border:solid 2px rgb(77, 77, 77);
    border-radius:8px;
    padding-right:10px;
}
.backspace
{
    font-size:30px;
    color:rgb(86, 5, 5);
    border:solid 2px rgb(77, 77, 77);
    border-radius:10%;
    transition:0.08s;
}
.backspace:active
{
    background-color:white;
}
.button-container
{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:1px;
    margin-top:1px;
}
.button-container button
{
    color:#131313;
    border:solid 3px rgb(44, 44, 44);
    border-radius:10%;
    height:70px;
    transition:0.08s
}
.button-container button:active
{
    transform:scale(0.95);
    background-color:white;
}
button:hover
{
    cursor:pointer;
    background-color:rgb(214, 214, 214)
}